.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: auto;
  margin-bottom: 0.5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: hsl(217, 54%, 11%);
  color: hsl(0, 0%, 100%);
  font-family: "Outfit", sans-serif;
}

p {
  font-size: 18px;
  color: hsl(215, 51%, 70%);
}

.title {
  margin-bottom: 0;
}

.title:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: hsl(216, 50%, 16%);
  width: 18rem;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-top: auto;
}

.imageContainer {
  position: relative;
}

.mainImage {
  display: block;
  position: relative;
  border-radius: 1rem;
  width: 100%;
}

.imageContainer:hover .mainImageHover {
  display: block;
  cursor: pointer;
}

.mainImageHover {
  position: absolute;
  border-radius: 1rem;
  background-color: hsl(178, 100%, 50%, 50%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.mainImageHover img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.moreDetails {
  display: flex;
  justify-content: space-between;
}

.price {
  display: flex;
  align-items: center;
  color: hsl(178, 100%, 50%);
}

.time {
  display: flex;
  align-items: center;
  color: hsl(215, 51%, 70%);
}

.icon {
  margin-right: 0.25rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid hsl(215, 32%, 27%);
  margin: 1em 0;
  padding: 0;
}

.creatorInfo {
  display: flex;
  align-items: center;
  color: hsl(215, 51%, 70%);
}

.creatorAvatar {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  border: 1px solid white;
  border-radius: 1rem;
}

.creatorName {
  color: white;
}

.creatorName:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}
